*{
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #16181d;
  color: #fff;
}
header{
  background-color: #22262e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #22262e;
  padding-bottom: 10px;
}
nav a{
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}
nav a:hover{
  background-color: #2d3138;
  border-radius: 40px;
  padding: 10px 15px;
}
.anuncio{
  background-color: #404756;
  color: #d3d3d3;
  padding: 5px;
  padding-left: 15px;
  margin-top: 10px;
  font-size: 15px;
}
section{
  padding: 40px 60px;
}
.primera-seccion{
  display: flex;
  margin-bottom: 70px;
}
.contenido{
  width: 40%;
}
.contenido h1{
  font-size: 50px;
}
.contenido p{
  font-size: 20px;
  padding-left: 15px;
  margin-top: 20px;
}
.caracteristicas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.caracteristicas div{
  padding: 30px;
  border: 1px solid #404756;
  border-radius: 15px;
  width: 50%;
}
.segunda-seccion{
  background: linear-gradient(to right, #2b303b, #16181d);
  padding: 25px;
}
.segunda-seccion h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.tercera-seccion h1{
  text-align: center;
  font-size: 40px;
  padding-top: 40px;
  margin-bottom: 50px;
}
.tercera-seccion p{
  text-align: justify;
  font-size: 20px;
  width: 75%;
}
.despedida{
  font-size: 35px;
  text-align: center;
  padding-bottom: 150px;
}
.despedida div{
  background-color: #58c4dc;
  border-radius: 50px;
  height: 5px;
  margin-top: 25px;
}
footer{
  background-color: #22262e;
  padding: 25px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}